html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.contacto {
    padding: 100px;
    background-color: #2c3e50;
    color: white;
}

.contacto-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.datos-contacto, .formulario-contacto {
    flex: 1;
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.datos-contacto h2, .formulario-contacto h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.datos-contacto p, .formulario-contacto label {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.social a {
    color: white;
    margin-right: 10px;
    font-size: 1.5em;
    text-decoration: none;
}

.social a:hover {
    color: #d4a276;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #2c3e50;
}

button {
    background-color: #d4a276;
    color: white;
    padding: 20px 35px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    background-color: saddlebrown;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .contacto-container {
        flex-direction: column;
        align-items: center;
    }

    .datos-contacto, .formulario-contacto {
        width: 100%;
        margin-bottom: 20px;
    }
}
